:root {
  --color-white: #fffcf2;
  --color-light-grey: #ccc5b9;
  --color-dark-grey: #403d39;
  --color-black: #252422;
  --color-orange: #eb5e28;
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 5px;
  background: var(--color-white);
  color: var(--color-black);

  font-family: 'Roboto', sans-serif;
}